@font-face {
  font-family: 'playfair_display_regular';
  src: url("../../fonts/playfairdisplay-regular-webfont.eot");
  src: url("../../fonts/playfairdisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/playfairdisplay-regular-webfont.woff2") format("woff2"), url("../../fonts/playfairdisplay-regular-webfont.woff") format("woff"), url("../../fonts/playfairdisplay-regular-webfont.ttf") format("truetype"), url("../../fonts/playfairdisplay-regular-webfont.svg#playfair_display_regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'didot_w01_roman';
  src: url("../../fonts/didot_w01_roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

#about-tanida {
  padding: 40px 0; }
  #about-tanida .headline {
    text-align: center;
    font-family: 'playfair_display_regular';
    font-size: 24px; }
  #about-tanida .hr {
    text-align: center; }
  #about-tanida .content {
    margin-top: 30px; }
