@font-face {
  font-family: 'playfair_display_regular';
  src: url("../../fonts/playfairdisplay-regular-webfont.eot");
  src: url("../../fonts/playfairdisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/playfairdisplay-regular-webfont.woff2") format("woff2"), url("../../fonts/playfairdisplay-regular-webfont.woff") format("woff"), url("../../fonts/playfairdisplay-regular-webfont.ttf") format("truetype"), url("../../fonts/playfairdisplay-regular-webfont.svg#playfair_display_regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'didot_w01_roman';
  src: url("../../fonts/didot_w01_roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

#banner {
  height: 350px; }
  #banner #promo-text {
    top: 62%; }

#booking {
  background: #EAE7E3;
  padding: 40px 0 20px; }
  #booking #step-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #FFF;
    border-radius: 2px;
    border-bottom: 2px solid #DDD; }
    #booking #step-bar .step {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      text-align: center;
      padding: 14px;
      font-size: 16px;
      color: #62594E; }
      #booking #step-bar .step span.step-no {
        display: inline-block;
        margin-right: 10px;
        padding: 6px 12px;
        border-radius: 50%;
        background: #EAE7E3;
        font-size: 14px; }
      #booking #step-bar .step.active {
        color: #CDAD55; }
        #booking #step-bar .step.active span.step-no {
          background: #CDAD55;
          color: #FFF; }
  #booking .content {
    margin-top: 20px; }
    #booking .content .box {
      background: #FFF;
      margin-bottom: 20px;
      border-radius: 2px;
      border-bottom: 2px solid #DDD; }
      #booking .content .box .headline {
        padding: 14px 20px;
        border-bottom: 1px solid #DDD;
        font-size: 16px;
        font-weight: bold; }
      #booking .content .box .form {
        padding: 16px 20px 20px; }
        #booking .content .box .form .form-item label {
          display: block;
          margin-bottom: 4px;
          width: 100%;
          font-size: 11px; }
        #booking .content .box .form .form-item input {
          display: block;
          width: 100%;
          padding: 10px 14px; }
        #booking .content .box .form .form-item:not(:last-child) {
          margin-bottom: 20px; }
    #booking .content #choose-a-room .room-list {
      overflow: hidden;
      padding: 14px 7px 6px; }
      #booking .content #choose-a-room .room-list > div {
        padding: 0 7px; }
      #booking .content #choose-a-room .room-list .room-item {
        position: relative;
        padding: 14px;
        margin-bottom: 14px;
        background: #F3F3F3;
        cursor: pointer;
        -webkit-transition: all 0.4s;
        transition: all 0.4s; }
        #booking .content #choose-a-room .room-list .room-item .room-selected {
          opacity: 0;
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 10px 12px;
          background: #CDAD55;
          color: #FFF;
          -webkit-transition: opacity 0.2s;
          transition: opacity 0.2s; }
        #booking .content #choose-a-room .room-list .room-item .room-image {
          margin-bottom: 14px; }
          #booking .content #choose-a-room .room-list .room-item .room-image img {
            width: 100%; }
        #booking .content #choose-a-room .room-list .room-item .room-info {
          padding-left: 6px; }
          #booking .content #choose-a-room .room-list .room-item .room-info .room-name {
            font-family: 'didot_w01_roman';
            font-size: 20px; }
          #booking .content #choose-a-room .room-list .room-item .room-info .room-detail {
            margin: 4px 0 20px;
            font-size: 12px; }
          #booking .content #choose-a-room .room-list .room-item .room-info .room-price .topic {
            font-size: 10px;
            font-weight: bold;
            line-height: 10px; }
          #booking .content #choose-a-room .room-list .room-item .room-info .room-price span.strong {
            font-size: 20px; }
        #booking .content #choose-a-room .room-list .room-item.active {
          background: #E7E0D8; }
          #booking .content #choose-a-room .room-list .room-item.active .room-selected {
            opacity: 1; }
        #booking .content #choose-a-room .room-list .room-item:not(:last-child) {
          border-bottom: 1px solid #DDD; }
        #booking .content #choose-a-room .room-list .room-item:not(.active):hover {
          background: #DDD; }
