@font-face {
  font-family: 'playfair_display_regular';
  src: url("../../fonts/playfairdisplay-regular-webfont.eot");
  src: url("../../fonts/playfairdisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/playfairdisplay-regular-webfont.woff2") format("woff2"), url("../../fonts/playfairdisplay-regular-webfont.woff") format("woff"), url("../../fonts/playfairdisplay-regular-webfont.ttf") format("truetype"), url("../../fonts/playfairdisplay-regular-webfont.svg#playfair_display_regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'didot_w01_roman';
  src: url("../../fonts/didot_w01_roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

#banner {
  height: 350px; }
  #banner #promo-text {
    top: 62%; }

#contact-us {
  padding: 40px 0; }
  #contact-us #map-div {
    background: #E7E0D8;
    height: 450px; }
  #contact-us .main-content {
    margin: 40px auto 20px; }
    #contact-us .main-content .contact-form {
      background: #342E27;
      border-radius: 2px;
      padding: 0 14px; }
      #contact-us .main-content .contact-form .row {
        margin: 14px -7px; }
        #contact-us .main-content .contact-form .row label {
          font-family: 'playfair_display_regular';
          font-weight: normal;
          font-size: 12px;
          letter-spacing: 1px;
          color: #CDAD55; }
        #contact-us .main-content .contact-form .row input, #contact-us .main-content .contact-form .row textarea {
          width: 100%;
          border: 0;
          border-radius: 2px;
          padding: 6px 10px;
          outline-color: #CDAD55; }
        #contact-us .main-content .contact-form .row .col-xs-6 {
          padding: 0 7px; }
        #contact-us .main-content .contact-form .row .form-msg {
          padding: 0 7px; }
        #contact-us .main-content .contact-form .row button.submit-btn {
          border: 0;
          padding: 12px 16px;
          background: #CDAD55;
          border: 0;
          color: #FFF; }
          #contact-us .main-content .contact-form .row button.submit-btn:hover {
            background: #EDCB6E; }
    #contact-us .main-content .contact-info {
      text-align: center; }
      #contact-us .main-content .contact-info .headline {
        font-family: 'playfair_display_regular';
        font-size: 24px; }
      #contact-us .main-content .contact-info .content {
        margin-top: 30px;
        line-height: 28px; }
