@font-face {
  font-family: 'playfair_display_regular';
  src: url("../../fonts/playfairdisplay-regular-webfont.eot");
  src: url("../../fonts/playfairdisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/playfairdisplay-regular-webfont.woff2") format("woff2"), url("../../fonts/playfairdisplay-regular-webfont.woff") format("woff"), url("../../fonts/playfairdisplay-regular-webfont.ttf") format("truetype"), url("../../fonts/playfairdisplay-regular-webfont.svg#playfair_display_regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'didot_w01_roman';
  src: url("../../fonts/didot_w01_roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

#banner {
  height: 350px; }
  #banner #promo-text {
    top: 62%; }

#booking {
  background: #EAE7E3;
  padding: 40px 0 20px; }
  #booking #step-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #FFF;
    border-radius: 2px;
    border-bottom: 2px solid #DDD; }
    #booking #step-bar .step {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      text-align: center;
      padding: 14px;
      font-size: 16px;
      color: #62594E; }
      #booking #step-bar .step span.step-no {
        display: inline-block;
        margin-right: 10px;
        padding: 6px 12px;
        border-radius: 50%;
        background: #EAE7E3;
        font-size: 14px; }
      #booking #step-bar .step.active {
        color: #CDAD55; }
        #booking #step-bar .step.active span.step-no {
          background: #CDAD55;
          color: #FFF; }
  #booking .content .box {
    overflow: hidden;
    background: #FFF;
    margin: 20px 0;
    border-radius: 2px;
    border-bottom: 2px solid #DDD; }
    #booking .content .box .headline {
      padding: 14px 20px;
      border-bottom: 1px solid #DDD;
      font-size: 16px;
      font-weight: bold; }
    #booking .content .box .form {
      padding: 16px 20px 20px; }
      #booking .content .box .form .form-row:not(:last-child) {
        margin-bottom: 20px; }
      #booking .content .box .form label:not(.radio) {
        display: block;
        margin-bottom: 4px;
        width: 100%;
        font-size: 11px; }
      #booking .content .box .form label.radio {
        font-weight: normal; }
        #booking .content .box .form label.radio input {
          position: relative;
          display: inline-block;
          width: auto;
          margin-left: 0;
          margin-right: 6px; }
        #booking .content .box .form label.radio:last-child {
          margin-bottom: 0; }
      #booking .content .box .form input,
      #booking .content .box .form select,
      #booking .content .box .form textarea {
        display: block;
        width: 100%;
        padding: 8px 10px;
        border: 1px solid #CCC;
        background: #FFF; }
      #booking .content .box .form select {
        -webkit-appearance: none;
        border-radius: 0; }
      #booking .content .box .form .instruction {
        line-height: 24px;
        margin-bottom: 20px; }
  #booking .content #special-requests .form {
    padding-bottom: 0; }
    #booking .content #special-requests .form > div {
      margin-bottom: 20px; }
  #booking .content #payment-details label.radio {
    padding-bottom: 10px; }
  #booking .content #agreement input {
    display: inline-block;
    width: auto;
    margin-right: 6px; }
  #booking .content .option {
    margin-top: 20px;
    text-align: center; }
