@font-face {
  font-family: 'playfair_display_regular';
  src: url("../../fonts/playfairdisplay-regular-webfont.eot");
  src: url("../../fonts/playfairdisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/playfairdisplay-regular-webfont.woff2") format("woff2"), url("../../fonts/playfairdisplay-regular-webfont.woff") format("woff"), url("../../fonts/playfairdisplay-regular-webfont.ttf") format("truetype"), url("../../fonts/playfairdisplay-regular-webfont.svg#playfair_display_regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'didot_w01_roman';
  src: url("../../fonts/didot_w01_roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

#banner {
  min-height: 600px;
  height: 100vh; }
  #banner #promo-text {
    top: 50%; }
  #banner #hero-content {
    position: absolute;
    bottom: 60px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background: rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    padding: 20px 24px;
    font-size: 13px; }
    #banner #hero-content input {
      display: inline-block;
      background: #62594E;
      border: 0;
      padding: 12px 16px;
      margin-right: 10px; }
    #banner #hero-content select {
      display: inline-block;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background: #62594E;
      border: 0;
      border-radius: 0;
      padding: 12px 16px;
      margin-right: 10px; }

#about-tanida .container {
  overflow: hidden;
  margin: 40px auto 50px; }
  #about-tanida .container .headline {
    text-align: center;
    font-family: 'didot_w01_roman'; }
    #about-tanida .container .headline .--main {
      font-size: 36px;
      line-height: 36px;
      font-weight: bold; }
    #about-tanida .container .headline .--sub {
      font-size: 24px;
      line-height: 24px; }
    #about-tanida .container .headline .hr {
      margin: 20px 0 10px; }
  #about-tanida .container .content {
    margin-top: 20px;
    text-align: center;
    font-family: 'playfair_display_regular';
    font-size: 16px; }

#special-offers {
  position: relative;
  background: transparent;
  background-size: cover;
  height: 350px; }
  #special-offers .content {
    position: absolute;
    top: 50%;
    right: 40px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    text-align: right;
    font-family: 'playfair_display_regular';
    color: #FFF;
    letter-spacing: 1px; }
    #special-offers .content .--sub {
      font-weight: 100;
      font-size: 24px;
      line-height: 32px; }
    #special-offers .content .--main {
      font-size: 44px;
      line-height: 52px; }
    #special-offers .content button {
      margin-top: 20px;
      padding: 8px 30px;
      border: 1px solid #FFF;
      border-radius: 100px;
      background: none;
      font-size: 16px;
      letter-spacing: 1px; }
      #special-offers .content button:hover {
        background: #FFF;
        color: #62594E; }

#room-types {
  background: #EAE7E3; }
  #room-types .container {
    padding: 30px 0; }
    #room-types .container .headline {
      text-align: center;
      font-family: 'didot_w01_roman';
      font-size: 32px; }
    #room-types .container > .hr {
      margin: 10px 0 50px;
      text-align: center; }
    #room-types .container .room-list {
      margin-top: 20px; }
      #room-types .container .room-list .room-item {
        margin-bottom: 30px; }
        #room-types .container .room-list .room-item .box {
          background: #FFF;
          border-radius: 2px; }
          #room-types .container .room-list .room-item .box .room-detail {
            padding: 20px 14px 0;
            text-align: center; }
            #room-types .container .room-list .room-item .box .room-detail .room-name {
              font-family: 'didot_w01_roman';
              font-size: 24px; }
            #room-types .container .room-list .room-item .box .room-detail .room-area {
              font-size: 12px; }
          #room-types .container .room-list .room-item .box .hr {
            margin-bottom: 14px;
            text-align: center; }
          #room-types .container .room-list .room-item .box .room-picture {
            position: relative;
            overflow: hidden; }
            #room-types .container .room-list .room-item .box .room-picture img {
              width: 100%;
              border-bottom-right-radius: 2px;
              border-bottom-left-radius: 2px; }
            #room-types .container .room-list .room-item .box .room-picture .room-extra-detail {
              position: absolute;
              top: 0;
              left: -50%;
              width: 50%;
              height: 100%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              background: rgba(255, 255, 255, 0);
              border-bottom-left-radius: 2px;
              -webkit-transition: all 0.4s ease-out;
              transition: all 0.4s ease-out; }
              #room-types .container .room-list .room-item .box .room-picture .room-extra-detail .room-name {
                font-family: 'didot_w01_roman';
                font-size: 20px;
                font-weight: bold; }
              #room-types .container .room-list .room-item .box .room-picture .room-extra-detail .room-more-detail {
                margin: 10px 0 20px; }
              #room-types .container .room-list .room-item .box .room-picture .room-extra-detail button.see-more {
                background: none;
                border: 1px solid #62594E;
                color: #62594E;
                border-radius: 100px;
                padding: 8px 30px; }
                #room-types .container .room-list .room-item .box .room-picture .room-extra-detail button.see-more:hover {
                  background: #62594E;
                  color: #FFF; }
          #room-types .container .room-list .room-item .box:hover .room-picture .room-extra-detail {
            left: 0;
            background: rgba(255, 255, 255, 0.8); }

#trusted-partners {
  background: #62594E;
  color: #FFF;
  margin-bottom: 1px; }
  #trusted-partners .container {
    padding: 30px 0; }
    #trusted-partners .container .headline {
      text-align: center;
      font-family: 'didot_w01_roman';
      font-size: 36px; }
    #trusted-partners .container .partner-list {
      margin-top: 20px; }
