@font-face {
  font-family: 'playfair_display_regular';
  src: url("../../fonts/playfairdisplay-regular-webfont.eot");
  src: url("../../fonts/playfairdisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/playfairdisplay-regular-webfont.woff2") format("woff2"), url("../../fonts/playfairdisplay-regular-webfont.woff") format("woff"), url("../../fonts/playfairdisplay-regular-webfont.ttf") format("truetype"), url("../../fonts/playfairdisplay-regular-webfont.svg#playfair_display_regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'didot_w01_roman';
  src: url("../../fonts/didot_w01_roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

footer {
  background: #62594E;
  color: #FFF; }
  footer .container {
    padding: 30px 0;
    text-align: center; }

@font-face {
  font-family: 'playfair_display_regular';
  src: url("../../fonts/playfairdisplay-regular-webfont.eot");
  src: url("../../fonts/playfairdisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/playfairdisplay-regular-webfont.woff2") format("woff2"), url("../../fonts/playfairdisplay-regular-webfont.woff") format("woff"), url("../../fonts/playfairdisplay-regular-webfont.ttf") format("truetype"), url("../../fonts/playfairdisplay-regular-webfont.svg#playfair_display_regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'didot_w01_roman';
  src: url("../../fonts/didot_w01_roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #62594E; }

a {
  color: #CDAD55;
  transition: color 0.2s; }
  a:hover, a:focus {
    color: #EDCB6E;
    text-decoration: none; }

.bold {
  font-weight: bold; }

button {
  display: inline-block;
  padding: 12px 16px;
  background: #CDAD55;
  border: 0;
  color: #FFF;
  letter-spacing: 1px;
  transition: all 0.4s ease-out; }
  button:hover {
    background: #EDCB6E; }

.viewport-hidden {
  opacity: 0; }

.viewport-visible {
  opacity: 1; }

#ui-main {
  min-height: 650px; }

#banner {
  position: relative;
  background: transparent;
  background-position: center;
  background-size: cover;
  height: 500px;
  color: #FFF; }
  #banner #promo-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-family: 'playfair_display_regular';
    font-size: 54px;
    letter-spacing: 1px; }

@font-face {
  font-family: 'playfair_display_regular';
  src: url("../../fonts/playfairdisplay-regular-webfont.eot");
  src: url("../../fonts/playfairdisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/playfairdisplay-regular-webfont.woff2") format("woff2"), url("../../fonts/playfairdisplay-regular-webfont.woff") format("woff"), url("../../fonts/playfairdisplay-regular-webfont.ttf") format("truetype"), url("../../fonts/playfairdisplay-regular-webfont.svg#playfair_display_regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'didot_w01_roman';
  src: url("../../fonts/didot_w01_roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

header {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  background: rgba(0, 0, 0, 0.36);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.36) 20%, rgba(255, 255, 255, 0) 100%);
  color: #FFF;
  transition: background 0.4s; }
  header.mini {
    background: rgba(98, 89, 78, 0.95); }
    header.mini #top-bar {
      padding: 10px 0; }
    header.mini nav {
      padding: 10px 0; }
  header a {
    color: #FFF; }
    header a:hover {
      color: #CDAD55; }
  header #top-bar {
    overflow: hidden;
    padding: 20px 0;
    font-size: 12px;
    transition: all 0.4s; }
    header #top-bar ul#lang-bar {
      margin: 0; }
      header #top-bar ul#lang-bar li {
        list-style: none;
        display: inline-block;
        margin: 0 6px; }
        header #top-bar ul#lang-bar li a {
          color: rgba(255, 255, 255, 0.5); }
          header #top-bar ul#lang-bar li a.active {
            font-weight: bold;
            color: #FFF; }
          header #top-bar ul#lang-bar li a:not(.active):hover {
            color: #CDAD55; }
  header nav {
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0 30px;
    transition: all 0.4s;
    font-size: 14px;
    letter-spacing: 2px; }
    header nav > div {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    header nav #logo {
      margin: 0 20px; }
    header nav .nav-left,
    header nav .nav-right {
      -ms-flex: 5;
      flex: 5; }
    header nav .nav-left .nav-left-md {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      width: 100%; }
    header nav .nav-left .nav-toggle {
      display: none; }
      header nav .nav-left .nav-toggle .nav-toggle-icon {
        margin-left: 10px;
        padding: 6px 10px 4px;
        transition: all 0.4s; }
        header nav .nav-left .nav-toggle .nav-toggle-icon i {
          font-size: 24px; }
        header nav .nav-left .nav-toggle .nav-toggle-icon:hover {
          background: rgba(0, 0, 0, 0.5); }
    header nav .nav-right .nav-right-md {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      width: 100%; }
    header nav .nav-right .lang-bar {
      display: none;
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: right;
      font-size: 13px; }
      header nav .nav-right .lang-bar li {
        list-style: none;
        display: inline-block;
        margin: 0 2px;
        color: rgba(255, 255, 255, 0.5); }
        header nav .nav-right .lang-bar li.active {
          font-weight: bold;
          color: #FFF; }
  header .nav-xs {
    display: none;
    margin-top: -10px;
    margin-bottom: 10px; }
    header .nav-xs .menu-item {
      padding: 6px 10px;
      transition: all 0.4s; }
      header .nav-xs .menu-item:hover {
        background: #342E27; }

@media only screen and (max-width: 990px) {
  header #top-bar {
    display: none; }
  header nav {
    margin: 14px 0; }
    header nav .nav-left {
      -ms-flex-pack: start;
      justify-content: flex-start; }
      header nav .nav-left .nav-left-md {
        display: none; }
      header nav .nav-left .nav-toggle {
        display: inline-block;
        width: auto; }
    header nav .nav-right .nav-right-md {
      display: none; }
    header nav .nav-right .lang-bar {
      display: block; } }

/*# sourceMappingURL=main.css.map */
