@font-face {
  font-family: 'playfair_display_regular';
  src: url("../../fonts/playfairdisplay-regular-webfont.eot");
  src: url("../../fonts/playfairdisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/playfairdisplay-regular-webfont.woff2") format("woff2"), url("../../fonts/playfairdisplay-regular-webfont.woff") format("woff"), url("../../fonts/playfairdisplay-regular-webfont.ttf") format("truetype"), url("../../fonts/playfairdisplay-regular-webfont.svg#playfair_display_regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'didot_w01_roman';
  src: url("../../fonts/didot_w01_roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

#our-facilities {
  padding: 40px 0; }
  #our-facilities .headline {
    text-align: center;
    font-family: 'playfair_display_regular';
    font-size: 24px; }
  #our-facilities .hr {
    margin-top: 10px;
    text-align: center; }
  #our-facilities .content {
    margin-top: 30px; }
    #our-facilities .content .col-sm-6 {
      padding: 6px 0; }

#gallery {
  padding: 40px 0 10px;
  background: #E7E0D8; }

.bx-wrapper .bx-viewport {
  box-shadow: none !important;
  background: none;
  border: 0; }
  .bx-wrapper .bx-viewport .bxslider li img {
    width: 100%; }
