@font-face {
  font-family: 'playfair_display_regular';
  src: url("../../fonts/playfairdisplay-regular-webfont.eot");
  src: url("../../fonts/playfairdisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/playfairdisplay-regular-webfont.woff2") format("woff2"), url("../../fonts/playfairdisplay-regular-webfont.woff") format("woff"), url("../../fonts/playfairdisplay-regular-webfont.ttf") format("truetype"), url("../../fonts/playfairdisplay-regular-webfont.svg#playfair_display_regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'didot_w01_roman';
  src: url("../../fonts/didot_w01_roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

#room-types {
  padding: 40px 0;
  background: #E7E0D8; }
  #room-types .room-list .room-item {
    display: table;
    margin-bottom: 30px; }
    #room-types .room-list .room-item .room-image {
      display: table-cell;
      width: 50%;
      background-position: center;
      background-size: cover;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px; }
    #room-types .room-list .room-item .room-info {
      display: table-cell;
      vertical-align: middle;
      width: 50%;
      text-align: center;
      padding: 40px 60px;
      background: #FFF;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px; }
      #room-types .room-list .room-item .room-info .room-name {
        font-family: 'didot_w01_roman';
        font-size: 24px; }
      #room-types .room-list .room-item .room-info .room-detail {
        margin: 10px 0 20px;
        line-height: 24px; }
      #room-types .room-list .room-item .room-info .room-price {
        margin-bottom: 20px;
        font-family: 'didot_w01_roman';
        font-size: 18px;
        font-weight: bold; }
      #room-types .room-list .room-item .room-info button.see-more {
        background: none;
        border: 1px solid #62594E;
        border-radius: 100px;
        color: #62594E;
        padding: 8px 30px; }
        #room-types .room-list .room-item .room-info button.see-more:hover {
          background: #62594E;
          color: #FFF; }

@media only screen and (max-width: 1200px) {
  #room-types .room-list .room-item {
    display: block; }
    #room-types .room-list .room-item .room-image,
    #room-types .room-list .room-item .room-info {
      display: block;
      width: 100%; }
    #room-types .room-list .room-item .room-image {
      height: 220px;
      border-radius: 0;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px; }
    #room-types .room-list .room-item .room-info {
      padding: 30px 20px;
      border-radius: 0;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px; } }

@media only screen and (max-width: 480px) {
  #room-types .room-list .room-item {
    padding: 0; } }
