@font-face {
  font-family: 'playfair_display_regular';
  src: url("../../fonts/playfairdisplay-regular-webfont.eot");
  src: url("../../fonts/playfairdisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/playfairdisplay-regular-webfont.woff2") format("woff2"), url("../../fonts/playfairdisplay-regular-webfont.woff") format("woff"), url("../../fonts/playfairdisplay-regular-webfont.ttf") format("truetype"), url("../../fonts/playfairdisplay-regular-webfont.svg#playfair_display_regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'didot_w01_roman';
  src: url("../../fonts/didot_w01_roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

#banner .container {
  position: relative;
  height: 100%; }
  #banner .container #promo-text {
    left: 0;
    -webkit-transform: translate(0, -30%);
            transform: translate(0, -30%);
    margin-left: 15px;
    text-align: left; }
    #banner .container #promo-text .sub {
      font-family: 'roboto';
      font-weight: 100;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase; }

#room-detail {
  padding: 40px 0 60px; }
  #room-detail .box {
    margin: 0 15px;
    padding: 30px; }
  #room-detail #room-info {
    float: left;
    width: 65%;
    margin-bottom: 20px;
    text-align: center; }
    #room-detail #room-info .box {
      background: #EEE;
      padding-bottom: 20px; }
      #room-detail #room-info .box .headline {
        font-size: 20px;
        font-weight: bold; }
      #room-detail #room-info .box .detail {
        margin-top: 10px; }
      #room-detail #room-info .box .room-detail {
        margin-bottom: 50px; }
      #room-detail #room-info .box .facility-item {
        display: inline-block;
        margin-bottom: 10px;
        padding: 0 16px; }
        #room-detail #room-info .box .facility-item .facility-name {
          margin-top: 10px;
          font-size: 12px;
          color: #A2A2A2; }
  #room-detail #room-booking {
    float: right;
    margin-bottom: 20px;
    width: 35%; }
    #room-detail #room-booking .box {
      background: #3D3122;
      border-bottom: 4px solid #CDAD55;
      color: #FFF; }
      #room-detail #room-booking .box .headline .sub {
        font-size: 12px;
        letter-spacing: 1px; }
      #room-detail #room-booking .box .headline .main {
        font-size: 18px; }
        #room-detail #room-booking .box .headline .main .price {
          font-weight: bold;
          font-size: 24px; }
      #room-detail #room-booking .box .hr {
        background: #FFF;
        width: 100px;
        height: 1px;
        margin: 20px 0 30px; }
      #room-detail #room-booking .box form .form-item {
        margin-bottom: 14px; }
        #room-detail #room-booking .box form .form-item label {
          font-size: 12px;
          font-weight: 100;
          letter-spacing: 1px; }
        #room-detail #room-booking .box form .form-item input {
          width: 100%;
          border: 0;
          background: #62594E;
          padding: 12px 16px; }
        #room-detail #room-booking .box form .form-item:last-child {
          margin-bottom: 0; }
  #room-detail #room-gallery {
    margin-bottom: 40px; }
    #room-detail #room-gallery img {
      width: 100%; }
  #room-detail #more-rooms .headline {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E7E0D8; }
  #room-detail #more-rooms .room-list .room-item .room-image img {
    width: 100%; }
  #room-detail #more-rooms .room-list .room-item .room-info {
    display: table;
    width: 100%;
    margin-top: 10px; }
    #room-detail #more-rooms .room-list .room-item .room-info .left-div {
      display: table-cell;
      vertical-align: middle;
      width: 50%; }
      #room-detail #more-rooms .room-list .room-item .room-info .left-div .room-name {
        margin-bottom: 4px;
        font-family: 'playfair_display_regular';
        font-weight: bold;
        font-size: 20px; }
      #room-detail #more-rooms .room-list .room-item .room-info .left-div .room-rate {
        font-size: 16px; }
    #room-detail #more-rooms .room-list .room-item .room-info .right-div {
      display: table-cell;
      vertical-align: middle;
      width: 50%;
      text-align: right; }
      #room-detail #more-rooms .room-list .room-item .room-info .right-div button {
        background: none;
        border-radius: 50px;
        border: 1px solid #62594E;
        padding: 10px 14px;
        color: #62594E;
        font-size: 12px; }
        #room-detail #more-rooms .room-list .room-item .room-info .right-div button:hover {
          background: #62594E;
          color: #FFF; }

@media only screen and (max-width: 1200px) {
  #banner .container #promo-text {
    margin: 0;
    padding: 0 14px;
    text-align: center; }
    #banner .container #promo-text .sub {
      line-height: 1.6em; }
  #room-detail {
    padding: 20px 0; }
    #room-detail #room-info {
      width: 100%; }
    #room-detail #room-booking {
      width: 100%; }
      #room-detail #room-booking .box form {
        display: table;
        margin: 0 -4px; }
        #room-detail #room-booking .box form .form-item {
          display: table-cell;
          vertical-align: bottom;
          padding: 0 4px;
          width: 40%; }
        #room-detail #room-booking .box form button {
          display: table-cell;
          vertical-align: bottom; }
    #room-detail #more-rooms .room-list .room-item {
      margin-bottom: 20px; }
      #room-detail #more-rooms .room-list .room-item .room-info .left-div,
      #room-detail #more-rooms .room-list .room-item .room-info .right-div {
        display: block;
        width: 100%; }
      #room-detail #more-rooms .room-list .room-item .room-info .right-div {
        text-align: left;
        margin-top: 20px; } }

@media only screen and (max-width: 768px) {
  #room-detail #room-booking .box form {
    display: block;
    margin: 0; }
    #room-detail #room-booking .box form .form-item {
      display: block;
      width: 100%;
      padding: 0; }
    #room-detail #room-booking .box form button {
      display: table-cell;
      vertical-align: bottom; }
  #room-detail #more-rooms .room-list .room-item .room-info .left-div,
  #room-detail #more-rooms .room-list .room-item .room-info .right-div {
    display: table-cell;
    width: 50%; }
  #room-detail #more-rooms .room-list .room-item .room-info .right-div {
    text-align: right;
    margin-top: 0; } }
