$brown-primary: #62594E;
$brown-dark: #342E27;
$brown-light: #E7E0D8;

$yellow-primary: #CDAD55;
$yellow-secondary: #EDCB6E;

$grey-primary: #EAE7E3;
$grey-secondary: #DBD8D4;

$primary-color: $brown-primary;
$primary-text-dark: $brown-primary;
$primary-text-light: #FFF;

$primary-link: $yellow-primary;
$primary-link-hover: $yellow-secondary;

// Fonts
@font-face {
    font-family: 'playfair_display_regular';
    src: url('../../fonts/playfairdisplay-regular-webfont.eot');
    src: url('../../fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../../fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('../../fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('../../fonts/playfairdisplay-regular-webfont.svg#playfair_display_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'didot_w01_roman';
    src: url('../../fonts/didot_w01_roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
