@import '_constant.scss';

body{
  margin: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: $primary-text-dark;
}

a{
  color: $primary-link;
  transition: color 0.2s;

  &:hover,
  &:focus{
    color: $primary-link-hover;
    text-decoration: none;
  }
}

.bold{
  font-weight: bold;
}

button{
  display: inline-block;
  padding: 12px 16px;
  background: $yellow-primary;
  border: 0;
  color: $primary-text-light;
  letter-spacing: 1px;
  transition: all 0.4s ease-out;

  &:hover{
    background: $yellow-secondary;
  }
}

.viewport-hidden {
  opacity: 0; }

.viewport-visible {
  opacity: 1; }

#ui-main{
  min-height: 650px;
}

#banner{
  position: relative;
  background: transparent;
  background-position: center;
  background-size: cover;
  height: 500px;
  color: $primary-text-light;

  #promo-text{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-family: 'playfair_display_regular';
    font-size: 54px;
    letter-spacing: 1px;
  }
}
