@import '_constant.scss';

header{
  position: fixed;
  z-index: 1000;
  width: 100vw;
  background: rgba(0,0,0,0.36);
  background: linear-gradient(to bottom, rgba(0,0,0,0.36) 20%, rgba(255,255,255,0) 100%);
  color: $primary-text-light;
  transition: background 0.4s;

  &.mini{
    background: rgba(98, 89, 78, 0.95);

    #top-bar{
      padding: 10px 0;
    }

    nav{
      padding: 10px 0;
    }
  }

  a{
    color: $primary-text-light;

    &:hover{
      color: $primary-link;
    }
  }

  #top-bar{
    overflow: hidden;
    padding: 20px 0;
    font-size: 12px;
    transition: all 0.4s;

    ul#lang-bar{
      margin: 0;

      li{
        list-style: none;
        display: inline-block;
        margin: 0 6px;

        a{
          color: rgba(255, 255, 255, 0.5);

          &.active{
            font-weight: bold;
            color: $primary-text-light;
          }

          &:not(.active):hover{
            color: $primary-link;
          }
        }
      }
    }
  }

  nav{
    display: flex;
    padding: 10px 0 30px;
    transition: all 0.4s;
    font-size: 14px;
    letter-spacing: 2px;

    > div{
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    #logo{
      margin: 0 20px;
    }

    .nav-left,
    .nav-right{
      flex: 5;
    }

    .nav-left{
      .nav-left-md{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
      }

      .nav-toggle{
        display: none;

        .nav-toggle-icon{
          margin-left: 10px;
          padding: 6px 10px 4px;
          transition: all 0.4s;

          i{
            font-size: 24px;
          }

          &:hover{
            background: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }

    .nav-right{
      .nav-right-md{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
      }

      .lang-bar{
        display: none;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: right;
        font-size: 13px;

        li{
          list-style: none;
          display: inline-block;
          margin: 0 2px;
          color: rgba(255, 255, 255, 0.5);

          &.active{
            font-weight: bold;
            color: $primary-text-light;
          }
        }
      }
    }
  }

  .nav-xs{
    display: none;
    margin-top: -10px;
    margin-bottom: 10px;

    .menu-item{
      padding: 6px 10px;
      transition: all 0.4s;

      &:hover{
        background: $brown-dark;
      }
    }
  }
}

@media only screen and (max-width: 990px){
  header{
    #top-bar{
      display: none;
    }

    nav{
      margin: 14px 0;
      .nav-left{
        justify-content: flex-start;

        .nav-left-md{
          display: none;
        }

        .nav-toggle{
          display: inline-block;
          width: auto;
        }
      }

      .nav-right{
        .nav-right-md{
          display: none;
        }

        .lang-bar{
          display: block;
        }
      }
    }
  }
}
