@import 'global/_constant.scss';

#about-tanida{
  padding: 40px 0;

  .headline{
    text-align: center;
    font-family: 'playfair_display_regular';
    font-size: 24px;
  }

  .hr{
    text-align: center;
  }

  .content{
    margin-top: 30px;
  }
}
