@import 'global/_constant.scss';

#banner{
  height: 350px;

  #promo-text{
    top: 62%;
  }
}

#booking{
  background: $grey-primary;
  padding: 40px 0 20px;

  #step-bar{
    display: flex;
    flex-direction: row;
    background: #FFF;
    border-radius: 2px;
    border-bottom: 2px solid #DDD;

    .step{
      flex: 1 0 auto;
      text-align: center;
      padding: 14px;
      font-size: 16px;
      color: $brown-primary;

      span.step-no{
        display: inline-block;
        margin-right: 10px;
        padding: 6px 12px;
        border-radius: 50%;
        background: $grey-primary;
        font-size: 14px;
      }

      &.active{
        color: $yellow-primary;

        span.step-no{
          background: $yellow-primary;
          color: $primary-text-light;
        }
      }
    }
  }

  .content{
    margin-top: 20px;

    .box{
      background: #FFF;
      margin-bottom: 20px;
      border-radius: 2px;
      border-bottom: 2px solid #DDD;

      .headline{
        padding: 14px 20px;
        border-bottom: 1px solid #DDD;
        font-size: 16px;
        font-weight: bold;
      }

      .form{
        padding: 16px 20px 20px;

        .form-item{
          label{
            display: block;
            margin-bottom: 4px;
            width: 100%;
            font-size: 11px;
          }

          input{
            display: block;
            width: 100%;
            padding: 10px 14px;
          }

          &:not(:last-child){
            margin-bottom: 20px;
          }
        }
      }
    }

    #choose-a-room{
      .room-list{
        overflow: hidden;
        padding: 14px 7px 6px;

        > div{
          padding: 0 7px;
        }

        .room-item{
          position: relative;
          padding: 14px;
          margin-bottom: 14px;
          background: #F3F3F3;
          cursor: pointer;
          transition: all 0.4s;

          .room-selected{
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 10px 12px;
            background: $yellow-primary;
            color: $primary-text-light;
            transition: opacity 0.2s;
          }

          .room-image{
            margin-bottom: 14px;

            img{
              width: 100%;
            }
          }

          .room-info{
            padding-left: 6px;

            .room-name{
              font-family: 'didot_w01_roman';
              font-size: 20px;
            }

            .room-detail{
              margin: 4px 0 20px;
              font-size: 12px;
            }

            .room-price{
              .topic{
                font-size: 10px;
                font-weight: bold;
                line-height: 10px;
              }
              span.strong{
                font-size: 20px;
              }
            }
          }

          &.active{
            background: $brown-light;

            .room-selected{
              opacity: 1;
            }
          }

          &:not(:last-child){
            border-bottom: 1px solid #DDD;
          }

          &:not(.active):hover{
            background: #DDD;
          }
        }
      }
    }
  }
}
