@import 'global/_constant.scss';

#banner{
  height: 350px;

  #promo-text{
    top: 62%;
  }
}

#contact-us{
  padding: 40px 0;

  #map-div{
    background: $brown-light;
    height: 450px;
  }

  .main-content{
    margin: 40px auto 20px;

    .contact-form{
      background: $brown-dark;
      border-radius: 2px;
      padding: 0 14px;

      .row{
        margin: 14px -7px;

        label{
          font-family: 'playfair_display_regular';
          font-weight: normal;
          font-size: 12px;
          letter-spacing: 1px;
          color: $yellow-primary;
        }

        input, textarea{
          width: 100%;
          border: 0;
          border-radius: 2px;
          padding: 6px 10px;
          outline-color: $yellow-primary;
        }

        .col-xs-6{
          padding: 0 7px;
        }

        .form-msg{
          padding: 0 7px;
        }

        button.submit-btn{
          border: 0;
          padding: 12px 16px;
          background: $yellow-primary;
          border: 0;
          color: $primary-text-light;

          &:hover{
            background: $yellow-secondary;
          }
        }
      }
    }

    .contact-info{
      text-align: center;

      .headline{
        font-family: 'playfair_display_regular';
        font-size: 24px;
      }

      .content{
        margin-top: 30px;
        line-height: 28px;
      }
    }
  }
}
