@import 'global/_constant.scss';

#banner{
  height: 350px;

  #promo-text{
    top: 62%;
  }
}

#booking{
  background: $grey-primary;
  padding: 40px 0 20px;

  #step-bar{
    display: flex;
    flex-direction: row;
    background: #FFF;
    border-radius: 2px;
    border-bottom: 2px solid #DDD;

    .step{
      flex: 1 0 auto;
      text-align: center;
      padding: 14px;
      font-size: 16px;
      color: $brown-primary;

      span.step-no{
        display: inline-block;
        margin-right: 10px;
        padding: 6px 12px;
        border-radius: 50%;
        background: $grey-primary;
        font-size: 14px;
      }

      &.active{
        color: $yellow-primary;

        span.step-no{
          background: $yellow-primary;
          color: $primary-text-light;
        }
      }
    }
  }

  .content{
    .box{
      overflow: hidden;
      background: #FFF;
      margin: 20px 0;
      border-radius: 2px;
      border-bottom: 2px solid #DDD;

      .headline{
        padding: 14px 20px;
        border-bottom: 1px solid #DDD;
        font-size: 16px;
        font-weight: bold;
      }

      .form{
        padding: 16px 20px 20px;

        .form-row:not(:last-child){
          margin-bottom: 20px;
        }

        label:not(.radio){
          display: block;
          margin-bottom: 4px;
          width: 100%;
          font-size: 11px;
        }

        label.radio{
          font-weight: normal;

          input{
            position: relative;
            display: inline-block;
            width: auto;
            margin-left: 0;
            margin-right: 6px;
          }

          &:last-child{
            margin-bottom: 0;
          }
        }

        input,
        select,
        textarea{
          display: block;
          width: 100%;
          padding: 8px 10px;
          border: 1px solid #CCC;
          background: #FFF;
        }

        select{
          -webkit-appearance: none;
          border-radius: 0;
        }

        .instruction{
          line-height: 24px;
          margin-bottom: 20px;
        }
      }
    }

    #special-requests{
      .form{
        padding-bottom: 0;

        > div{
          margin-bottom: 20px;
        }
      }
    }

    #payment-details{
      label.radio{
        padding-bottom: 10px;
      }
    }

    #agreement{
      input{
        display: inline-block;
        width: auto;
        margin-right: 6px;
      }
    }

    .option{
      margin-top: 20px;
      text-align: center;
    }
  }
}
