@import 'global/_constant.scss';

#banner{
  min-height: 600px;
  height: 100vh;

  #promo-text{
    top: 50%;
  }

  #hero-content{
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    padding: 20px 24px;
    font-size: 13px;

    input{
      display: inline-block;
      background: $primary-color;
      border: 0;
      padding: 12px 16px;
      margin-right: 10px;
    }

    select{
      display: inline-block;
      appearance: none;
      background: $primary-color;
      border: 0;
      border-radius: 0;
      padding: 12px 16px;
      margin-right: 10px;
    }
  }
}

#about-tanida{
  .container{
    overflow: hidden;
    margin: 40px auto 50px;

    .headline{
      text-align: center;
      font-family: 'didot_w01_roman';

      .--main{
        font-size: 36px;
        line-height: 36px;
        font-weight: bold;
      }

      .--sub{
        font-size: 24px;
        line-height: 24px;
      }

      .hr{
        margin: 20px 0 10px;
      }
    }

    .content{
      margin-top: 20px;
      text-align: center;
      font-family: 'playfair_display_regular';
      font-size: 16px;
    }
  }
}

#special-offers{
  position: relative;
  background: transparent;
  background-size: cover;
  height: 350px;

  .content{
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translate(0, -50%);
    text-align: right;
    font-family: 'playfair_display_regular';
    color: $primary-text-light;
    letter-spacing: 1px;

    .--sub{
      font-weight: 100;
      font-size: 24px;
      line-height: 32px;
    }

    .--main{
      font-size: 44px;
      line-height: 52px;
    }

    button{
      margin-top: 20px;
      padding: 8px 30px;
      border: 1px solid $primary-text-light;
      border-radius: 100px;
      background: none;
      font-size: 16px;
      letter-spacing: 1px;

      &:hover{
        background: $primary-text-light;
        color: $primary-text-dark;
      }
    }
  }
}

#room-types{
  background: $grey-primary;

  .container{
    padding: 30px 0;

    .headline{
      text-align: center;
      font-family: 'didot_w01_roman';
      font-size: 32px;
    }

    > .hr{
      margin: 10px 0 50px;
      text-align: center;
    }

    .room-list{
      margin-top: 20px;

      .room-item{
        margin-bottom: 30px;

        .box{
          background: #FFF;
          border-radius: 2px;

          .room-detail{
            padding: 20px 14px 0;
            text-align: center;

            .room-name{
              font-family: 'didot_w01_roman';
              font-size: 24px;
            }

            .room-area{
              font-size: 12px;
            }
          }

          .hr{
            margin-bottom: 14px;
            text-align: center;
          }

          .room-picture{
            position: relative;
            overflow: hidden;

            img{
              width: 100%;
              border-bottom-right-radius: 2px;
              border-bottom-left-radius: 2px;
            }

            .room-extra-detail{
              position: absolute;
              top: 0;
              left: -50%;
              width: 50%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background: rgba(255, 255, 255, 0);
              border-bottom-left-radius: 2px;
              transition: all 0.4s ease-out;

              .room-name{
                font-family: 'didot_w01_roman';
                font-size: 20px;
                font-weight: bold;
              }

              .room-more-detail{
                margin: 10px 0 20px;
              }

              button.see-more{
                background: none;
                border: 1px solid $primary-color;
                color: $primary-color;
                border-radius: 100px;
                padding: 8px 30px;

                &:hover{
                  background: $primary-color;
                  color: $primary-text-light;
                }
              }
            }
          }

          &:hover{
            .room-picture{
              .room-extra-detail{
                left: 0;
                background: rgba(255, 255, 255, 0.8);
              }
            }
          }
        }
      }
    }
  }
}

#trusted-partners{
  background: $primary-color;
  color: $primary-text-light;
  margin-bottom: 1px;

  .container{
    padding: 30px 0;

    .headline{
      text-align: center;
      font-family: 'didot_w01_roman';
      font-size: 36px;
    }

    .partner-list{
      margin-top: 20px;
    }
  }
}
