@import 'global/_constant.scss';

#our-facilities{
  padding: 40px 0;

  .headline{
    text-align: center;
    font-family: 'playfair_display_regular';
    font-size: 24px;
  }

  .hr{
    margin-top: 10px;
    text-align: center;
  }

  .content{
    margin-top: 30px;

    .col-sm-6{
      padding: 6px 0;
    }
  }
}

#gallery{
  padding: 40px 0 10px;
  background: $brown-light;
}

.bx-wrapper .bx-viewport{
  box-shadow: none !important;
  background: none;
  border: 0;

  .bxslider li img{
    width: 100%;
  }
}
