@import 'global/_constant.scss';

#banner{
  .container{
    position: relative;
    height: 100%;

    #promo-text{
      left: 0;
      transform: translate(0, -30%);
      margin-left: 15px;
      text-align: left;

      .sub{
        font-family: 'roboto';
        font-weight: 100;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
      }
    }
  }
}

#room-detail{
  padding: 40px 0 60px;

  .box{
    margin: 0 15px;
    padding: 30px;
  }

  #room-info{
    float: left;
    width: 65%;
    margin-bottom: 20px;
    text-align: center;

    .box{
      background: #EEE;
      padding-bottom: 20px;

      .headline{
        font-size: 20px;
        font-weight: bold;
      }

      .detail{
        margin-top: 10px;
      }

      .room-detail{
        margin-bottom: 50px;
      }

      .facility-item{
        display: inline-block;
        margin-bottom: 10px;
        padding: 0 16px;

        .facility-name{
          margin-top: 10px;
          font-size: 12px;
          color: #A2A2A2;
        }
      }
    }
  }

  #room-booking{
    float: right;
    margin-bottom: 20px;
    width: 35%;

    .box{
      background: #3D3122;
      border-bottom: 4px solid $yellow-primary;
      color: $primary-text-light;

      .headline{
        .sub{
          font-size: 12px;
          letter-spacing: 1px;
        }

        .main{
          font-size: 18px;

          .price{
            font-weight: bold;
            font-size: 24px;
          }
        }
      }

      .hr{
        background: $primary-text-light;
        width: 100px;
        height: 1px;
        margin: 20px 0 30px;
      }

      form{
        .form-item{
          margin-bottom: 14px;

          label{
            font-size: 12px;
            font-weight: 100;
            letter-spacing: 1px;
          }

          input{
            width: 100%;
            border: 0;
            background: $primary-color;
            padding: 12px 16px;
          }

          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }

  #room-gallery{
    margin-bottom: 40px;

    img{
      width: 100%;
    }
  }

  #more-rooms{
    .headline{
      font-size: 18px;
      font-weight: bold;
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 1px solid $brown-light;
    }

    .room-list{
      .room-item{
        .room-image img{
          width: 100%;
        }

        .room-info{
          display: table;
          width: 100%;
          margin-top: 10px;

          .left-div{
            display: table-cell;
            vertical-align: middle;
            width: 50%;

            .room-name{
              margin-bottom: 4px;
              font-family: 'playfair_display_regular';
              font-weight: bold;
              font-size: 20px;
            }

            .room-rate{
              font-size: 16px;
            }
          }

          .right-div{
            display: table-cell;
            vertical-align: middle;
            width: 50%;
            text-align: right;

            button{
              background: none;
              border-radius: 50px;
              border: 1px solid $brown-primary;
              padding: 10px 14px;
              color: $brown-primary;
              font-size: 12px;

              &:hover{
                background: $brown-primary;
                color: $primary-text-light;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px){
  #banner{
    .container{
      #promo-text{
        margin: 0;
        padding: 0 14px;
        text-align: center;

        .sub{
          line-height: 1.6em;
        }
      }
    }
  }

  #room-detail{
    padding: 20px 0;

    #room-info{
      width: 100%;
    }

    #room-booking{
      width: 100%;

      .box form {
        display: table;
        margin: 0 -4px;

        .form-item{
          display: table-cell;
          vertical-align: bottom;
          padding: 0 4px;
          width: 40%;
        }

        button{
          display: table-cell;
          vertical-align: bottom;
        }
      }
    }

    #more-rooms{
      .room-list{
        .room-item{
          margin-bottom: 20px;

          .room-info{
            .left-div,
            .right-div{
              display: block;
              width: 100%;
            }

            .right-div{
              text-align: left;
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px){
  #room-detail{
    #room-booking{
      .box form {
        display: block;
        margin: 0;

        .form-item{
          display: block;;
          width: 100%;
          padding: 0;
        }

        button{
          display: table-cell;
          vertical-align: bottom;
        }
      }
    }

    #more-rooms .room-list .room-item .room-info{
      .left-div,
      .right-div{
        display: table-cell;
        width: 50%;
      }

      .right-div{
        text-align: right;
        margin-top: 0;
      }
    }
  }
}
