@import 'global/_constant.scss';

#room-types{
  padding: 40px 0;
  background: $brown-light;

  .room-list{
    .room-item{
      display: table;
      margin-bottom: 30px;

      .room-image{
        display: table-cell;
        width: 50%;
        background-position: center;
        background-size: cover;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }

      .room-info{
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        text-align: center;
        padding: 40px 60px;
        background: #FFF;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;

        .room-name{
          font-family: 'didot_w01_roman';
          font-size: 24px;
        }

        .room-detail{
          margin: 10px 0 20px;
          line-height: 24px;
        }

        .room-price{
          margin-bottom: 20px;
          font-family: 'didot_w01_roman';
          font-size: 18px;
          font-weight: bold;
        }

        button.see-more{
          background: none;
          border: 1px solid $primary-color;
          border-radius: 100px;
          color: $primary-color;
          padding: 8px 30px;

          &:hover{
            background: $primary-color;
            color: $primary-text-light;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px){
  #room-types{
    .room-list{
      .room-item{
        display: block;

        .room-image,
        .room-info{
          display: block;
          width: 100%;
        }

        .room-image{
          height: 220px;
          border-radius: 0;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        }

        .room-info{
          padding: 30px 20px;
          border-radius: 0;
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px){
  #room-types .room-list .room-item{
    padding: 0;
  }
}
